
body {
  display:grid;

}

.scoreboard {
  background-color: rgb(255, 255, 255);
  height: 200px;
  display: flex;
  flex-direction: row;
  border: 1px red solid;
  justify-content: space-around;
  align-items:center;
}

#player1{
  border:burlywood 1px solid;

}
#player2{
  border:burlywood 1px solid;
}

#gameboard {
    width: max-content ;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10em;
  
}
 #container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;

  }
  
  #container > div {
    background-color: #8ca0ff;
    width: 100px;
    height: 100px
  
  }
.single-grid {
    text-align: center;
    line-height: 3em;
    
}


