
body {

}

#gameboard {
    width: 8em;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10em;
}
 #container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px
  }
  
  #container > div {
    background-color: #8ca0ff;
    width: 100px;
    height: 100px
  
  }
.single-grid {
    text-align: center;
    line-height: 6em;
    
}

